.mainTitle{
    font-size: 100px;
}

.container{
     
}

.selectTitle{
    margin: 20px 0px;
}
.items{
    display: flex;
    gap: 50px;

}

.item{
    border: 3px solid #bbb;
    border-radius: 3px;
    width: 300px;
    height: 400px;
    position: relative;
    /* to cover the url img use this and cause of override use !important */
    background-size: cover !important; 


}
.item:nth-child(1){
    background:  url('/illustration.png');
}
.item:nth-child(2){
    background:  url('/websites.jpg');
}
.item:nth-child(3){
    background:  url('/apps.jpg');
}
.title{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}
.item:hover .title{
    color: #D4AF37;
}